@font-face {
    font-family: Avantgarde;
    src: url('../fonts/ITC Avant Garde Gothic LT Book Regular.otf');
}
@font-face {
    font-family: AvantgardeBlack;
    src: url('../fonts/ITC Avant Garde Gothic LT Bold.otf');
}

body {
    background: linear-gradient(to bottom right, whitesmoke, blanchedalmond);
    font-family: Avantgarde;
    letter-spacing: .02em;

}
header {
    height: 10em;
    background-image: url('../img/carimba_noslogan.svg');
    background-repeat: no-repeat;
    background-position: top center;
}
h1 {
    font-family: AvantgardeBlack;
}
.wrapper {
    margin: .5em;
}
#grid_wrapper_top {
    display: grid;  
    grid-gap: .5em;   
    grid-template-columns: 18fr 18fr 28fr 18fr 18fr;
    grid-template-rows: auto auto; 
}
#key_partners {
    grid-column: 1;
    grid-row: 1 / span 2;
}
#key_activities {
    grid-column: 2;
    grid-row: 1;
}
#key_resources {
    grid-column: 2;
    grid-row: 2;    
}
#value_propositions {
    grid-column: 3;
    grid-row: 1 / span 2;    
}
#customer_relationships {
    grid-column: 4;
    grid-row: 1;    
}
#channels {
    grid-column: 4;
    grid-row: 2;   
}
#customer_segments {
    grid-column: 5;
    grid-row: 1 / span 2;   
}
#grid_wrapper_bottom {
    display: grid;  
    grid-gap: .5em;   
    grid-template-columns: 50fr 50fr;
    grid-template-rows: auto; 
}
#cost_structure {
    grid-column: 1;
    grid-row: 1;   
}
#revenue_streams {
    grid-column: 2;
    grid-row: 1;  
}
.cat_box {
    background: linear-gradient(to bottom right,white, whitesmoke);
    border: 1px solid lightgray;
    overflow: hidden;
    box-shadow: .1em .1em .1em .1em darkgray;
}
.cat_box h3 {
    font-family: AvantgardeBlack;
    background: blanchedalmond;
    padding: .4em .3em .3em .3em;
    border: 0;
    margin-top: 0;
}
.cat_box h4 {
    padding: 0 .3em 0 .3em;
}
.cat_box p {
    padding: 0 1em 0 1em;
    margin: .6em;
}