* {
    border: 0;
    padding: 0;
    margin: 0;
}
header {
    background: darkolivegreen; 
    color: white;
}
nav {
    background: maroon;
    color: yellow;
}
footer {
    background: maroon;
    color: yellow;
}
label {
    background: lightgreen;
}
input {
    background: lightblue;
}
